@media (max-width: 1140px) {
  .container{
    width: 90%;
  }
  #karty .vyhod{
    margin: -781px 0px 0px 50px !important;
    padding: 30px 52px !important;
    h3{
      width: 195px !important;
    }
  }
  #follows .vyhod{
    margin: -689px 0px 0px 50px !important;
    padding: 30px 52px !important;
    h3{
      width: 195px !important;
    }
  }
  #packages .container .packages--packagesTop__packagesTop3 {
    width: 30%;
  }
  #packages .container .packages--packagesTop__packagesTop2 {
    width: 30%;
  }
  #packages .container .packages--packagesTop__packagesTop1 {
    width: 30%;
  }
  #allMaps .container .allMaps {
    justify-content: center !important;
    gap: 80px;
  }
  #reactivity .reactivity--youtube iframe {
    width: 510px !important;
  }
  #reactivity .reactivity--youtube__videoAll--video__title h3 {
    font-size: 16px !important;
    width: 230px !important;
  }
  #reactivity .reactivity--youtube__videoAll--btn .youTubeBtn2{
    font-size: 11px !important;
  }
  #reactivity .reactivity--youtube__videoAll--btn .youTubeBtn1 {
    font-size: 11px !important;
  }
  #frBuy .skils--obuchenie__all {
    flex-wrap: wrap !important;
    gap: 45px !important;
  }
  #dashboard{
    .vyhod{
      margin: -152px 0px 0px 50px !important;
      padding: 30px 52px !important;
      h3{
        width: 195px !important;
      }
    }
  }
  #dashboard .dashboard--saydBar {
    width: 300px !important;
  }
  #dashboard .personaldata h1 {
    font-size: 34px !important;
  }
  #dashboard .personaldata--form {
    width: 270px !important;
  }
  #podpisatsa .podpisatsa--zayavka__input input {
    padding: 15px 320px 15px 30px !important;
  }
  #dashboard .personaldata--data {
    width: 270px !important;
  }
  #dashboard .personaldata--data select {
    width: 270px !important;
  }
  #podpisatsa .podpisatsa--about__cards--card .cardBtn1 {
    transform: translate(18%, 425%)!important;
  }
  #podpisatsa .podpisatsa--about__cards--card .cardBtn2 {
    transform: translate(18%, 325%)!important;
  }
  #podpisatsa .podpisatsa--about__cards--card .cardBtn3 {
    transform: translate(18%, 5%)!important;
  }
  #podpisatsa .podpisatsa--about__cards--card .cardBtn1 {
    transform: translate(17%, 425%)!important;
  }
  #podpisatsa .podpisatsa--about__cards--card .cardBtn2 {
    transform: translate(18%, 325%) !important;
  }
  #podpisatsa .podpisatsa--about__cards--card .cardBtn3 {
    transform: translate(18%, 15%)!important;
  }
  #courses .container .courses {
    flex-wrap: wrap;
    gap: 60px;
  }
  #courses .container .courses .courses3 {
    margin: 20px 0;
  }
  #god .container .god--banner {
    flex-wrap: wrap;
    margin-left: 217px;
  }
  #god .container .god--banner__action {
    margin: 40px;
  }
}
@media (max-width: 1024px) {
  #dashboard .vyhod {
    margin: -152px 0px 0px 48px !important;
  }
  #karty .vyhod {
    margin: -152px 0px 0px 48px !important;
  }
  #follows .vyhod{
    margin: -689px 0px 0px 48px !important;
  }
  #packages .container .packages--packagesTop__packagesTop3 h1{
    font-size: 45px;
  }
  #packages .container .packages--packagesTop__packagesTop2 h1{
    font-size: 45px;
  }
  #packages .container .packages--packagesTop__packagesTop1 h1{
    font-size: 45px;
  }
  #podpisatsa .podpisatsa--zayavka__input input {
    padding: 15px 290px 15px 30px !important;
  }
  #ourSchool .container .ourSchool .school1 h1 {
    font-size: 30px !important;
  }
  #ourSchool .container .ourSchool .school1 p {
    font-size: 18px !important;
  }
  #dashboard .personaldata .wrapper {
    gap: 23px !important;
  }
  #Home {
    padding: 30px 0 !important;
  }
  #Article .article--btn button {
    margin-top: 50px;
  }
  #god .god--about h1 {
    transform: translateX(-28%);
  }
  #frBuy .skils--obuchenie__all {
    flex-wrap: wrap !important;
    gap: 70px !important;
  }
}
@media (max-width: 1024px) {
  #god .oplata{
    left: 35% !important;
  }
  #karty .vyhod {
    margin: -782px 0px 0px 48px !important;
  }
  #Accor .accorFaq span{
    font-size: 16px !important;
  }
  #Accor .accorFaq h1{
    font-size: 34px !important;
  }
  #podpisatsa .podpisatsa--about .h1 {
    font-size: 34px;
  }
  #podpisatsa .podpisatsa--about__cards {
    gap: 25px;
  }
  #podpisatsa .podpisatsa--zayavka__title h1 {
    font-size: 34px;
  }
  #podpisatsa .podpisatsa--zayavka__input button {
    width: 260px;
    font-size: 15px;
  }
  #god .god--about h1 {
    transform: translateX(-29%);
  }
  #god .god--about__input--radio__one h2 {
    font-size: 15px;
  }
  #header .header--logo__menu a {
    font-size: 16px;}
  #header .header--podpis a {
    font-size: 16px;}
  #header .header--podpis button {
    font-size: 14px;}
  #footer .footer--menu h3 {
    font-size: 17px;}
  #footer .footer--menu a {
    font-size: 15px;}
  #footer .footer--menu__ru p {
    font-size: 11px;}
}
@media (max-width: 992px) {
  #packages .container .packages--packagesTop__packagesTop3 {
    width: 33%;
  }
  #follows .vyhod {
    margin: -1156px 0px 0px 233px !important;
  }
  #karty .vyhod {
    margin: -1353px 0px 0px 232px !important;
  }
  #karty .file{
    margin: 154px 0 0 273px !important;
  }
  #follows .file{
    margin: 164px 0 0 272px !important;
  }
  #packages .container .packages--packagesTop__packagesTop2 {
    width: 33%;
  }
  #packages .container .packages--packagesTop__packagesTop1 {
    width: 33%;
  }
  #masterclasses .container .masterclasses--bloc {
    margin-left: 8%;
    width: 90%;
  }
  #masterclasses .container .masterclasses .masterclasses1 {
    padding: 45px 50px 45px 20px;
  }
  #masterclasses .container .masterclasses .masterclasses2 {
    padding: 45px 50px 45px 20px;
  }
  #masterclasses .container .masterclasses .masterclasses3 {
    padding: 45px 50px 45px 20px;
  }
  #podpisatsa .podpisatsa p {
    font-size: 15px !important;
  }
  #submitSchool .container .submitSchool {
    flex-direction: column !important;
    align-items: center !important;
  }
  #ourSchool .container .ourSchool {
    flex-direction: column !important;
    gap: 60px !important;
  }
  #ourSchool .container .ourSchool .school1 h1 {
    font-size: 27px !important;
  }
  #courses .container .courses {
    justify-content: center !important;
  }
  #packages .container .packages--packagesTop__packagesTop1 h1 {
    font-size: 36px !important;
  }
  #packages .container .packages--packagesTop__packagesTop2 h1 {
    font-size: 36px !important;
  }
  #packages .container .packages--packagesTop__packagesTop3 h1 {
    font-size: 36px !important;
  }
  #packages .container .packages--packagesTop__packagesTop3 a button {
  margin: 0;
  }
  #packages .container .packages--packagesTop__packagesTop2 a button {
    margin: 0 ;
  }
  #packages .container .packages--packagesTop__packagesTop1 a button {
    margin: 0;
  }
  #courses .container h2 {
    font-size: 30px !important;
  }
  #masterclasses .container .masterclasses h1 {
    font-size: 30px !important;
  }
  #packages .container .packages--packages1 h1 {
    font-size: 30px !important;
  }
  #submitSchool .container .submitSchool .submit1 h1 {
    font-size: 30px !important;
  }
  #Accor .accorFaq h1 {
    font-size: 30px !important;
  }
  #reactivity .reactivity h5 {
    font-size: 12px !important;
  }
  #reactivity .reactivity--about__title h1 {
    font-size: 30px !important;
  }
  #reactivity .reactivity--about__title p {
    font-size: 14px !important;
    width: 360px !important;
  }
  #reactivity .reactivity--about__img--title h3 {
    font-size: 12px !important;
  }
  #reactivity .reactivity--about__img--title span {
    font-size: 13px !important;
  }
  #reactivity .reactivity--youtube__videoAll--video__title h3 {
    font-size: 14px !important;
    width: 220px !important;
  }
  #reactivity .reactivity--youtube {
    flex-direction: column;
    align-items: center;
  }
  #reactivity .reactivity--youtube {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    gap: 60px;
  }
  #reactivity .reactivity--youtube__videoAll--btn .youTubeBtn2 {
    font-size: 10px !important;
  }
  #reactivity .reactivity--youtube__videoAll--btn .youTubeBtn1 {
    font-size: 10px !important;
  }
  #reactivity .reactivity--sec2{
    padding: 80px 0 0 0;
  }
  #reactivity .reactivity--sec2__about h3 {
    font-size: 15px !important;
  }
  #reactivity .reactivity--sec2__about ul li {
    font-size: 16px !important;
  }
  #reactComent .reactComent h1 {
    font-size: 30px !important;
  }
  #reactComent .reactComent h1 {
    font-size: 24px !important;
  }
  #reactComent .reactComent--coment textarea {
    width: 680px !important;
  }
  #reactComent .reactComent--coment {
    width: 720px !important;
    height: 240px !important;
  }
  #reactComent .reactComent--coment button {
    font-size: 11px !important;
    padding: 12px 45px !important;
  }
  #dashboard{
    .file{
      margin: 154px 0 0 278px !important;
    }
  }
  #dashboard .vyhod {
    margin: -624px 0px 0px 232px !important;
  }
  #dashboard .dashboard {
    flex-direction: column;
    align-items: center;
    gap: 80px;
  }
  #dashboard .personaldata .wrapper {
    gap: 40px !important;
  }
  #dashboard .personaldata h1 {
    font-size: 28px !important;
    padding: 0 0 20px 0 !important;
  }
  #uvedomlenie .uvedomlenie h1 {
    font-size: 32px !important;
  }
  #uvedomlenie .uvedomlenie p {
    font-size: 15px !important;
  }
  #god .oplata {
    left: 31% !important;
  }
  #podpisatsa .podpisatsa--about .h1 {
    font-size: 30px !important;
  }
  #podpisatsa .podpisatsa--about__cards {
    gap: 50px !important;
    flex-direction: column !important;
  }
  #podpisatsa .podpisatsa--about__cards--card .cardBtn1 {
    transform: translate(33%, 400%) !important;
  }
  #podpisatsa .podpisatsa--about__cards--card .cardBtn2 {
    transform: translate(33%, 300%) !important;
  }
  #podpisatsa .podpisatsa--about__cards--card .cardBtn3 {
    transform: translate(33%, 10%) !important;
  }
  #podpisatsa .podpisatsa--zayavka__title h1 {
    font-size: 30px !important;
  }
  #podpisatsa .podpisatsa--zayavka__input input {
    padding: 13px 105px 13px 20px !important;
  }
  #podpisatsa .podpisatsa--zayavka__input button {
    font-size: 14px !important;
    padding: 11px 0 !important;
    width: 160px !important;
  }
  #frBuy .frBuy h4 {
    font-size: 14px  !important;
  }
  #frBuy .frBuy--about h1 {
    font-size: 30px !important;
  }
  #frBuy .frBuy--about__title .titleP {
    font-size: 17px !important;
    width: 400px !important;
  }
  #frBuy .frBuy--about__title--dostup p {
    font-size: 16px !important;
  }
  #frBuy .frBuy--about__title--dostup h3 {
    font-size: 16px !important;
    width: 112px !important;
  }
  #frBuy .frBuy--about button {
    font-size: 14px !important;
    padding: 13px 20px !important;
  }
  #frBuy .oKurse h4 {
    font-size: 14px !important;
  }
  #frBuy .oKurse--about h1 {
    font-size: 30px !important;
  }
  #frBuy .oKurse--about__title--p p {
    font-size: 17px !important;
    width: 500px !important;
  }
  #frBuy .oKurse--about__title--dostup p {
    font-size: 16px !important;
  }
  #frBuy .oKurse--about__title--dostup h3 {
    font-size: 16px !important;
    width: 112px !important;
  }
  #frBuy .skils h2 {
    font-size: 17px !important;
  }
  #frBuy .skils ul li {
    font-size: 16px !important;
  }
  #frBuy .skils--result h3 {
    font-size: 18px !important;
  }
  #frBuy .skils--result__about p {
    font-size: 15px !important;
  }
  #frBuy .skils--result h4 {
    font-size: 16px !important;
    margin: 35px 0 70px 0 !important;
  }
  #frBuy .skils--result__btn .btn1 {
    font-size: 13px !important;
  }
  #frBuy .skils--result__btn .btn2 {
    font-size: 13px !important;
  }
  #frBuy .skils--programma h1 {
    font-weight: 600 !important;
    font-size: 24px !important;
    text-align: center !important;
  }
  #frBuy .skils--programma {
    text-align: center !important;
  }
  #frBuy .skils--programma__modulAll img {
   margin: 30px 0 !important;
  }
  #frBuy .skils--programma button {
    font-size: 14px !important;
  }
  #frBuy .skils--ekskluziv__about {
    flex-direction: column !important;
    gap: 50px !important;
  }
  #frBuy .skils--programma__modulAll--main__modal h4 {
    font-size: 16px !important;
  }
  #frBuy .skils--programma__modulAll--main__modal p {
    font-size: 14px !important;
  }
  #frBuy .skils--programma__modulAll {
    justify-content: center !important;
    flex-wrap: wrap !important;
  }
  #frBuy .skils--ekskluziv__about--card h3 {
    font-size: 17px !important;
    padding: 15px 0 !important;
  }
  #frBuy .skils--ekskluziv__about--card p {
    font-size: 16px !important;
    width: 230px !important;
  }
  #frBuy .skils--ekskluziv__img p {
    font-size: 16px !important;
  }
  #frBuy .skils--ekskluziv__img h1 {
    font-size: 24px !important;
  }
  #frBuy .skils--ekskluziv__img h4 {
    font-size: 18px !important;
  }
  #frBuy .skils--obuchenie h1 {
    font-size: 26px !important;
  }
  #frBuy .skils--obuchenie__all {
    gap: 72px !important;
    justify-content: center !important;
  }
  #frBuy .skils--otzyv h1 {
    font-size: 26px !important;
  }
#header .header--logo img{
  width: 60px;
  height: 43px;
}
  #god .god--about h1 {
    transform: translateX(-39%);
    font-size: 30px;
  }
  #header .header--logo__menu a {
    font-size: 14px;
  }
  #header .header--logo__menu {
    margin-left: 50px;
  }
  #header .header--podpis a {
    font-size: 14px;
  }
  #header .header--podpis button {
    font-size: 13px;
    padding:8px;
  }
  #footer .footer--menu img{
    width: 60px;
  }
  #footer .footer--menu h3 {
    font-size: 15px;
  }
  #footer .footer--menu a {
    font-size: 13px;
  }
  #footer .footer--menu__seti {
    width: 129px;
  }
  #footer .footer--menu .id {
    width: 0;
  }
  #footer .footer--menu__seti .icons {
    font-size: 21px;
    padding: 10px 10px;
  }

}
@media (max-width: 768px) {
  #header .header--voitiAll{
    display: none !important;
  }
  #karty .file {
    margin: 154px 0 0 214px !important;
  }
  #follows .vyhod {
    margin: -1687px 0px 0px 169px !important;
  }
  #karty .vyhod {
    margin: -1273px 0px 0px 169px !important;
  }
  #packages .container .packages--packagesTop__packagesTop1 {
    width: 45% !important;
  }
  #packages .container .packages--packagesTop__packagesTop2 {
    width: 45% !important;
  }
  #packages .container .packages--packagesTop__packagesTop3 {
    width: 45% !important;
  }
  #packages .container .packages--packagesTop {
    flex-direction: column !important;
    gap: 50px !important;
  }
  #packages .container .packages--packagesTop__packagesTop1 h1 {
    font-size: 30px !important;
  }
  #Accor .accorFaq span {
    font-size: 15px !important;
  }
  #Accor .accorFaq h1 {
    font-size: 28px !important;
  }
  #reactivity .reactivity--about__title h1 {
    font-size: 28px !important;
  }
  #reactivity .reactivity--about__title p {
    width: 270px !important;
  }
  #reactComent .reactComent--coment textarea {
    width: 555px !important;
  }
  #reactComent .reactComent--coment {
    width: 595px !important;
  }
  #reactComent .reactComent--coment button {
    padding: 10px 40px !important;
  }
  #dashboard .file {
    margin: 154px 0 0 207px !important;
  }
  #dashboard .vyhod {
    margin: -624px 0px 0px 168px !important;
  }
  #Home {
    padding: 10px 0 !important;
  }
  #god .oplata {
    left: 28% !important;
  }
  #podpisatsa .podpisatsa--about .h1 {
    font-size: 27px !important;
  }
  #podpisatsa .podpisatsa--about__cards--card .cardBtn3 {
    transform: translate(33%, 40%) !important;
  }
  #podpisatsa .podpisatsa--zayavka__title h1 {
    font-size: 27px !important;
  }
  #podpisatsa .podpisatsa--zayavka {
    flex-direction: column !important;
    align-items: center !important;
    text-align: center !important;
    margin: 160px 0 50px 0 !important;
  }
  #podpisatsa .podpisatsa p {
    margin: 0 0 30px 0 !important;
  }
  #podpisatsa .podpisatsa--about__cards--card {
    width: 280px !important;
  }
  #podpisatsa .podpisatsa--about__cards--card .cardBtn1 {
    transform: translate(25%, 360%) !important;
  }
  #podpisatsa .podpisatsa--about__cards--card .cardBtn2 {
    transform: translate(25%, 280%) !important;
  }
  #podpisatsa .podpisatsa--about__cards--card .cardBtn3 {
    transform: translate(25%, 40%) !important;
  }
  #podpisatsa .podpisatsa--about .h1 {
    font-size: 25px !important;
    padding: 60px 0 !important;
  }
  #frBuy .frBuy--about h1 {
    font-size: 26px !important;
  }
  #frBuy .frBuy--about{
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
text-align: center !important;
  }

  #frBuy .frBuy--about__title{
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    margin-top: 30px !important;
  }
  #frBuy .frBuy--about__title--dostup{
    margin-top: 50px !important;
  }
  #frBuy .frBuy--about__title--dostup h3{
    width: 100% !important;
  }
  #frBuy .skils--about {
    flex-direction: column !important;
    align-items: baseline !important;
  }
  #frBuy .skils--about__title h3 {
    font-size: 18px !important;
  }
  #frBuy .skils--programma h1 {
    font-size: 20px !important;
  }
  #frBuy .skils--programma__modulAll--main__modal h4 {
    font-size: 14px !important;
  }
  #frBuy .skils--programma__modulAll--main__modal p {
    font-size: 13px !important;
  }
  #frBuy .skils--ekskluziv__about {
    align-items: flex-start !important;
  }
  #frBuy .skils--ekskluziv__img img{
    width: 266px !important;
    height: 326px !important;
  }
  #frBuy .skils--ekskluziv__img p {
    font-size: 15px !important;
  }
  #frBuy .skils--ekskluziv__img h1 {
    font-size: 22px !important;
  }
  #frBuy .skils--ekskluziv__img h4 {
    font-size: 17px !important;
  }
  #frBuy .skils--obuchenie h1 {
    font-size: 24px !important;
  }
  #frBuy .skils--obuchenie__all {
    justify-content: flex-start !important;
    align-items: flex-start !important;
    flex-direction: column !important;
    gap: 65px !important;
  }
  #frBuy .skils--obuchenie__all--card:nth-child(2n+2){
    transform: translateX(93%) !important;
  }
  #frBuy .skils--ekskluziv__about--card:nth-child(2){
    transform: translateX(120%) !important;
  }
  #frBuy .skils--ekskluziv__about--card p {
    font-size: 15px !important;
    width: 230px !important;
  }
  #frBuy .oKurse--about h1 {
    font-size: 26px !important;
  }
  #frBuy .oKurse--about__title {
    flex-direction: column !important;
  }
  #frBuy .oKurse--about{
    text-align: center !important;
  }
  #frBuy .oKurse--about__title--dostup{
    margin-top: 50px !important;
  }
  #frBuy .oKurse--about__title--dostup h3 {
    width: 100% !important;
  }
  #god .god--about__input--chekbox input {
    width: 21px;
    height: 21px;
  }
  #god .god--about h1 {
    transform: translateX(-44%);
    font-size: 28px;
  }
  #god .god--about__input button {
    font-size: 16px;
    padding: 10px 0;
  }
  #god .god--about__input--radio input {
    width: 17px;
    height: 17px;
  }
  #god .god--about__input {
    width: 480px;
  }
  #god .god--title p {
    width: 512px;
  }
  #footer .footer{
    flex-direction: column;
    align-items: center;
  }
  #footer .footer--menu{
    align-items: center;
    margin: 15px 0;
  }
  #footer .footer--menu .id {
    width: 286px;
  }
  #header .header--logo__menu {
   display: none;
  }
  #header .header--podpis{
    display: none;
  }
  #header .spans{
    display: block;
  }
  #footer .footer--menu h3 {
    font-size: 17px;
  }
  #footer .footer--menu a {
    font-size: 16px;
      margin: 0 0 10px 0;
  }
  #footer .footer--menu__seti .icons {
    font-size: 23px;
  }
  #courses .container .courses .courses2 {
    margin: 20px 0 0 0;
  }
  #submitSchool .container .submit2 input {
    padding: 20px 350px 20px 20px;
  }
  #submitSchool .container .submit2 p {
    font-size: 14px !important;
  }
  #submitSchool .container .submit2 button {
    padding: 15px 50px !important;
  }
  #god .container .god--banner {
    margin-left: 95px;
  }
  #god .container .god--banner__action {
    margin: 30px 0;
  }
}
@media (max-width: 640px) {
  #masterclasses .container .masterclasses .masterclasses1 {
    width: 90%;
    padding: 45px 50px 45px 10px;
  }
  #follows .vyhod {
    margin: -1687px 0px 0px 119px !important;
  }
  #karty .vyhod {
    margin: -1266px 0px 0px 119px !important;
  }
  #karty .file {
    margin: 154px 0 0 135px !important;
  }
  #masterclasses .container .masterclasses .masterclasses2{
    width: 90%;
    padding: 45px 50px 45px 10px;
  }
  #masterclasses .container .masterclasses .masterclasses3{
    width: 90%;
    padding: 45px 50px 45px 10px;
  }
  #masterclasses .container .masterclasses--bloc {
    margin-left: 0;
    width: 96%;
  }
  #god .oplata {
    left: 23% !important;
  }
  #packages .container .packages--packagesTop__packagesTop1 {
    width: 60% !important;
  }
  #packages .container .packages--packagesTop__packagesTop2 {
    width: 60% !important;
  }
  #packages .container .packages--packagesTop__packagesTop3 {
    width: 60% !important;
  }
  #Accor .accorFaq h1 {
    font-size: 24px !important;
  }
  #reactivity {
    padding: 40px 0 !important;
  }
  #reactivity .reactivity--about__title h1 {
    font-size: 24px !important;
  }
  #reactivity .reactivity--about {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 25px;
  }
  #reactivity .reactivity--youtube {
    padding-top: 70px !important;
  }
  #reactivity .reactivity--sec2__about {
    width: 406px !important;
  }
  #reactivity .reactivity--sec2__about ul li {
    font-size: 15px !important;
  }
  #reactivity .reactivity--about__title p {
    width: 322px !important;
  }
  #reactComent .reactComent--coment textarea {
    width: 465px !important;
    height: 120px !important;
  }
  #reactComent .reactComent--coment {
    width: 505px !important;
    height: 215px !important;
  }
  #dashboard .file {
    margin: 154px 0 0 160px !important;
  }
  #dashboard .vyhod {
    margin: -985px 0px 0px 119px !important;
  }
  #dashboard .personaldata .wrapper {
    flex-direction: column !important;
  }
  #uvedomlenie .uvedomlenie h1 {
    font-size: 24px;
  }
  #uvedomlenie .uvedomlenie p {
    font-size: 14px;
  }
  #uvedomlenie {
    padding: 60px 0;
  }
  #uvedomlenie .uvedomlenie--card h4 {
    font-size: 15px;
  }
  #submitSchool .container .submitSchool .submit1 h1 {
    font-size: 27px !important;
  }
  #ourSchool .container .school2 img {
    width: 400px !important;
  }
  #submitSchool .container .submit2 input {
    padding: 19px 170px 20px 20px;
  }
  #allMaps .container .allMaps {
    gap: 50px !important;
  }
  #god .container .god--banner {
    margin-left: 51px;
  }
}
@media (max-width: 540px) {
  #podpisatsa .podpisatsa--about .h1 {
    font-size: 25px !important;
    padding: 40px 0 30px 0 !important;
  }
  #follows .vyhod {
    margin: -1666px 0px 0px 89px !important;
  }
  #karty .vyhod {
    margin: -1256px 0px 0px 89px !important;
  }
  #follows .file {
    margin: 164px 0 0 108px !important;
  }
  #allMaps .container h2 {
    font-size: 26px !important;
  }
  #allMaps p{
    font-size: 14px;
  }
  #reactivity .reactivity--youtube iframe {
    width: 440px !important;
    height: 320px !important;
  }
  #reactComent .reactComent--coment textarea {
    width: 410px !important;
  }
  #reactComent .reactComent--coment {
    width: 450px !important;
  }
  #reactComent .reactComent--coment button {
    padding: 10px 25px !important;
  }
  #dashboard .file {
    margin: 154px 0 0 109px !important;
  }
  #dashboard .vyhod {
    margin: -985px 0px 0px 89px !important;
  }
  #god .oplata {
    left: 20% !important;
  }
  #podpisatsa .podpisatsa--about__cards--card h6 {
    font-size: 15px !important;
  }
  #podpisatsa .podpisatsa--about__cards--card h1 {
    font-size: 33px !important;
  }
  #podpisatsa .podpisatsa p {
    font-size: 14px !important;
    margin: 0 0 20px 0 !important;
  }
  #podpisatsa .podpisatsa--about__cards--card {
    width: 275px !important;
  }
  #podpisatsa .podpisatsa--about__cards--card .cardBtn1 {
    transform: translate(24%, 360%) !important;
  }
  #podpisatsa .podpisatsa--about__cards--card .cardBtn2 {
    transform: translate(24%, 280%) !important;
  }
  #podpisatsa .podpisatsa--about__cards--card .cardBtn3 {
    transform: translate(24%, 40%) !important;
  }
  #podpisatsa .podpisatsa--zayavka__title h1 {
    font-size: 25px !important;
  }
  #frBuy .oKurse--about__title--p p {
    width: 438px !important;
    font-size: 16px !important;
  }
  #frBuy .skils--ekskluziv__about--card:nth-child(2) {
    transform: translateX(97%) !important;
  }
  #frBuy .skils--obuchenie__all--card:nth-child(2n+2) {
    transform: translateX(73%) !important;
  }
  #god .god--about__input {
    width: 433px;
  }
  #god .god--about__input--chekbox h5 {
    width: 389px;
  }
  #god .god--title p {
    width: 475px;
  }
  #god .god--about__input input {
    padding: 15px 15px 15px 20px;
  }
  #god .god--about__input--chekbox input {
    width: 19px;
    height: 19px;
  }
  #god .god--about__input--chekbox h5{
    font-size: 16px;
    width: 366px;
  }
  #submitSchool .container .submitSchool {
    flex-wrap: wrap;
  }
  #masterclasses .container .masterclasses h2 {
    margin-left: 35px;
  }
  #masterclasses .container .masterclasses p {
    margin-left: 35px;
    font-size: 15px;
  }
  #masterclasses .container .masterclasses h1 {
    font-size: 27px !important;
  }
  #packages .container .packages--packages1 h1 {
    font-size: 27px !important;
  }
}
@media (max-width: 480px) {
  #courses .container .courses a {
    width: 35%;
  }
  #follows .vyhod {
    margin: -1667px 0px 0px 9px !important;
  }
  #karty .vyhod {
    margin: -1195px 0px 0px 9px !important;
  }
  #karty .file {
    margin: 154px 0 0 67px !important;
  }
  #follows .file {
    margin: 164px 0 0 67px !important;
  }
  #courses .container h2 {
    font-size: 28px !important;
  }
  #courses .container .courses .courses1 {
    background: #FFFFFF;
    width: 290px;
    height: 300px;
  }
  #courses .container .courses .courses2 {
    background: #FFFFFF;
    width: 290px;
    height: 300px;
  }
  #courses .container .courses .courses3 {
    background: #FFFFFF;
    width: 290px;
    height: 300px;
  }
  #podpisatsa .podpisatsa p {
    font-size: 13px !important;
  }
  #packages .container .packages--packagesTop__packagesTop1 {
    width: 90% !important;
  }
  #submitSchool .container .submit2 input {
    padding: 9px 100px 20px 20px !important;
  }
  #packages .container .packages--packagesTop__packagesTop2 {
    width: 90% !important;
  }
  #packages .container .packages--packagesTop__packagesTop3 {
    width: 90% !important;
  }
  #ourSchool .container .school2 img {
    width: 230px !important;
  }
  #ourSchool .container .ourSchool .school1 rem {
    font-size: 14px !important;
  }
  #ourSchool .container .ourSchool .school1 h1 {
    font-size: 20px !important;
  }
  #allMaps .container .allMaps h1 {
    font-size: 20px !important;
  }
  #Accor .accorFaq span {
    font-size: 14px !important;
  }
  #allMaps .container .allMaps {
    margin-left: 0 !important;
  }
  #reactivity .reactivity--about__title p {
    width: 255px !important;
  }
  #reactivity .reactivity--youtube iframe {
    width: 310px !important;
    height: 220px !important;
  }
  #reactivity .reactivity--youtube__videoAll--video img {
    width: 80px !important;
    height: 50px !important;
  }
  #reactivity .reactivity--youtube__videoAll--video__title h3 {
    font-size: 13px !important;
  }
  #reactivity .reactivity--sec2__about {
    width: 300px !important;
  }
  #reactComent .reactComent--coment textarea {
    width: 260px !important;
    height: 100px !important;
  }
  #reactComent .reactComent--coment {
    width: 298px !important;
    height: 198px !important;
  }
  #reactComent .reactComent--coment button {
    padding: 8px 15px !important;
    font-size: 10px;
  }
  #dashboard .file {
    margin: 154px 0 0 61px !important;
  }
  #dashboard .vyhod {
    margin: -985px 0px 0px 9px !important;
  }
  #uvedomlenie .uvedomlenie p {
    font-size: 13px !important;
  }
  #god .oplata {
    left: 4% !important;
    font-size: 14px !important;
    width: 290px !important;
    padding: 20px 0 !important;
  }
  #uvedomlenie .uvedomlenie--card h4 {
    font-size: 14px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 13px;
  }
  #uvedomlenie .uvedomlenie--card {
    margin: 40px 0 30px 0;
    color: #FFFFFF;
    background: rgba(27, 41, 89, 0.4);
    border-radius: 10px;
    padding: 30px 0;
  }

  #podpisatsa {
    padding: 30px 0 !important;
  }
  #podpisatsa .podpisatsa--about .h1 {
    font-size: 18px !important;
  }
  #podpisatsa .podpisatsa--about__cards--card h6 {
    font-size: 14px !important;
  }
  #podpisatsa .podpisatsa--about__cards--card h1 {
    font-size: 28px !important;
  }
  #podpisatsa .podpisatsa p {
    font-size: 12px !important;
  }
  #podpisatsa .podpisatsa--about__cards--card h4 {
    font-size: 14px !important;
  }
  #podpisatsa .podpisatsa--about__cards--card {
    width: 255px !important;
    height: 340px !important;
    padding: 35px 0 65px 25px !important;
  }
  #podpisatsa .podpisatsa--about__cards--card .cardBtn2 {
    transform: translate(21%, 280%) !important;
  }
  #podpisatsa .podpisatsa--about__cards--card .cardBtn1 {
    transform: translate(21%, 360%) !important;
  }
  #podpisatsa .podpisatsa .p {
    font-size: 14px !important;
  }
  #podpisatsa .podpisatsa--zayavka__title h1 {
    font-size: 20px !important;
  }
  #podpisatsa .podpisatsa--zayavka__title p {
    width: 290px !important;
    font-size: 14px !important;
  }

  #podpisatsa .podpisatsa--about__cards--card .cardBtn3 {
    transform: translate(21%, 30%) !important;
  }
  #frBuy .frBuy h4 {
    font-size: 13px !important;
  }
  #frBuy .frBuy--about h1 {
    font-size: 22px !important;
  }
  #frBuy .frBuy--about__title .titleP {
    font-size: 16px !important;
    width: 300px !important;
  }
  #frBuy .frBuy--about__title--dostup h3 {
    font-size: 15px !important;
  }
  #frBuy .oKurse--about h1 {
    font-size: 22px !important;
  }
  #frBuy .oKurse--about__title--p p {
    width: 300px !important;
    font-size: 15px !important;
  }
  #frBuy .oKurse--about__title--dostup h3 {
    font-size: 15px !important;
  }
  #frBuy .skils--about__title h3 {
    font-size: 16px !important;
  }
  #frBuy .skils--result h3 {
    font-size: 16px !important;
  }
  #frBuy .skils--result h4 {
    font-size: 15px !important;
  }
  #frBuy .skils--programma h1 {
    font-size: 18px !important;
  }
  #frBuy .skils--programma__modulAll img {
    width: 300px !important;
  }
  #frBuy .skils--ekskluziv__about {
    align-items: center !important;
  }
  #frBuy .skils--ekskluziv__about--card:nth-child(2) {
    transform: translateX(0) !important;
  }
  #frBuy .skils--ekskluziv__about--card h3 {
    font-size: 16px !important;
  }
  #frBuy .skils--ekskluziv__about {
    gap: 55px !important;
  }
  #frBuy .skils--ekskluziv__img p {
    font-size: 14px !important;
  }
  #frBuy .skils--ekskluziv__img h1 {
    font-size: 18px !important;
  }
  #frBuy .skils--ekskluziv__img h4 {
    font-size: 16px !important;
  }
  #frBuy .skils--obuchenie h1 {
    font-size: 20px !important;
  }
  #frBuy .skils--obuchenie__all--card:nth-child(2n+2) {
    transform: translateX(0) !important;
  }
  #frBuy .skils--obuchenie__all {
    justify-content: center !important;
    gap: 60px !important;
  }
  #frBuy .skils--otzyv h1 {
    font-size: 20px !important;
  }
  #frBuy .skils--obuchenie {
    text-align: center !important;
  }
  #frBuy .skils--otzyv__all--card h3 {
    font-size: 16px !important;
  }
  #frBuy .skils--otzyv__all--card {
    width: 100% !important;
    height: 368px !important;
  }
  #frBuy .skils--otzyv__all {
    height: 395px !important;
  }
  #frBuy .skils--otzyv__all--card p {
    padding: 15px !important;
  }
  #frBuy .skils--otzyv__all--card h4 {
    font-size: 14px !important;
    margin-left: 150px !important;
  }
  #frBuy .skils--otzyv__all--card p {
    font-size: 13px !important;
    width: 245px !important;
  }
  #header .spans {
    left: 86%;
  }
  #god {
    padding: 50px 0;
  }
  #god .god h4 {;
    font-size: 14px;
    padding: 0 0 45px 0;
  }
  #god .god--about h1 {
    transform: translateX(-39%);
    font-size: 24px;
  }
  #god .god--about__input {
    width: 287px;
  }
  #god .god--about__input input {
    padding: 10px 15px 12px 20px;
  }
  #god .god--about__input p {
    font-size: 15px;
  }
  #god .god--about__input--radio input {
    width: 15px;
    height: 15px;
  }
  #god .god--about__input--radio__one h2 {
    font-size: 14px;
  }
  #god .god--about__input--radio__one {
    padding: 15px 20px;
  }
  #god .god--about__input--cvc {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }
  #god .god--about__input--chekbox h5 {
    font-size: 15px;
    width: 230px;
  }
  #god .god--about__input button {
    font-size: 15px;
  }
  #god .god--title p {
    width: 300px;
    font-size: 15px;
  }
  #god .god--title h3 {
    font-size: 16px;
  }
  #header .spans .p1 {
    width: 33px;}
  #header .spans .p2 {
    width: 33px;}
  #header .spans .p3 {
    width: 33px;}
  #ourSchool .container .school2 img {
    width: 448px;
  }
  #courses .container .courses h1 {
    font-size: 20px !important;
  }
  #masterclasses .container .masterclasses--bloc {
    margin-left: 0;
  }
  #masterclasses .container .masterclasses .masterclasses1 {
    padding: 40px 45px 40px 0 !important;
  }
  #masterclasses .container .masterclasses .masterclasses2 {
    padding: 40px 45px 40px 0 !important;
  }
  #masterclasses .container .masterclasses .masterclasses3 {
    padding: 40px 45px 40px 0 !important;
  }
  #god .container .god--banner {
    margin-left: 0;
  }
  #footer .footer {
    padding-top: 60px;}
}
@media (max-width: 320px) {}
