#toDoList {
  padding-top: 90px;

  .comment {
    font-weight: 700;
    font-size: 30px;
    color: #FFFFFF;
    padding: 20px 0;
  }

  .toDoList {
    //width: 50%;
    //height: 200px;
    //background: #050C22;
    //border-radius: 10px;
    textarea {
      padding-left: 15px;
      color: #FFFFFF;
      width: 45%;
      height: 120px;
      border: none;
      background: rgba(27, 41, 89, 0.4);
      border-radius: 7px;

    }

    button {
      margin-top: 15px;
      padding: 10px 20px;
      background: rgba(27, 41, 89, 0.4);
      border-radius: 7.35897px;
      color: white;
      font-size: 16px;
    }

    &--ul {
      margin-left: 20px;

      button {
        width: 100px;
        margin-left: 20px;
      }

      ul {

        font-weight: 500;
        font-size: 16px;
        color: #FFFFFF;

        .btn {
          margin-left: 30%;
        }
      }
    }
  }
}

