@media (max-width: 1140px) {
  .container{
    width: 90%;
  }
  #follows .vyhod{
    left: 5% !important;
    top: 84% !important;
    padding: 30px 44px !important;
  }
  #follows .follows--saydBar{
    width: 300px;
  }
  #follows .follows--every__status{
    margin: 0 -70px;
  }
}

@media (max-width: 1024px) {
  #follows .follows--saydBar{
    width: 300px;
    //height: 480px;
  }
}
@media (max-width: 992px) {
  #follows .follows--every{
    flex-direction: column;
    align-items: center;
  }
  #follows .vyhod {
    left: 27% !important;
    top: 84% !important;
    padding: 30px 77px !important;
  }
  #follows .follows--every__one h1{
    text-align: center;
    padding: 15px 0;
  }
}
@media (max-width: 768px) {
  #follows .follows--big__about--cards{
    padding: 40px 32px 40px 30px;
  }
  #follows .vyhod {
    left: 22% !important;
    top: 84% !important;
    padding: 30px 79px !important;
  }
}
@media (max-width: 644px) {
  #follows .follows--big__about{
    flex-direction: column;
    align-items: center;
  }
  #follows .vyhod {
    left: 17% !important;
    top: 84% !important;
    padding: 30px 77px !important;
  }
  #follows .follows--big__about--cards{
    margin: 20px 0;
  }
}
@media (max-width: 540px) {
  #follows .follows--every__status{
    width: 465px;
  }
  #follows .vyhod {
    left: 13% !important;}
  #follows .follows--every__status--card h2{
    padding: 15px 20px;
  }
  #follows .follows--every{
    align-items: center;
  }
}
@media (max-width: 480px) {
  #follows .follows--every{
    align-items: center;
  }
  #follows .vyhod {
    left: 8% !important;
    padding: 30px 34px !important;
  }
  #follows .follows--saydBar{
    width: 300px;
  }
  #follows .follows--every__status{
    width: 240px;
  }
  #follows .follows--big__about--cards{
    width: 190px;
  }
}