#Accor{
  background: rgb(10, 17, 40);
  padding: 80px 0;
    .accor{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    &--photo{
      display: flex;
      flex-direction: column;
      align-items: center;
      h1{
        font-weight: 700;
        font-size: 46px;
        padding: 0 0 30px 0;
        color: #FFFFFF;
      }
    }
      &--all{
        display: flex;
        //height: 100vh;
        //width: 100vw;
        justify-content: center;
        &__item{
          width: 700px;
          &--cold{
            margin-bottom: 5px;
            padding: 10px 20px;
            color: #767676;
            &__title{
              display: flex;
              justify-content: space-between;
              align-items: center;
              h2{
                font-weight: 500;
                font-size: 20px;
                line-height: 24px;
                color: #FFFFFF;
                padding: 10px 0;
                cursor: pointer;
              }
              span{
                svg{
                  font-size: 25px;
                  color: #FFFFFF;
                }
              }
            }
            &__content{
              color: #FFFFFF;
              max-height: 0;
              overflow: hidden;
              transition: all 0.5s cubic-bezier(0,1,0,1);
              &::shadow{
                color: #767676;
                height: auto;
                max-height: 9999px;
                transition: all 0.5s cubic-bezier(1,0,1,0);
              }
            }
          }
        }

      }
  }
}