#Application{
  padding: 130px 0;
  background: rgb(10, 17, 40);
  .application{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    &--left{
      h1{
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
        text-transform: uppercase;
        color: #FFFFFF;
        padding: 16px 0;
      }
      p{
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
        width: 360px;
      }
    }
    &--right{
     &__inputs{
       padding: 10px 0;
       h2{
         font-weight: 400;
         font-size: 16px;
         color: #B5B5B5;
       }
       input{
         background: rgba(27, 41, 89, 0.4);
         border-radius: 10px;
         width: 600px;
         height: 50px;
         border: none;
         padding-left: 20px;
         color: #FFFFFF;
       }
     }
      button{
        font-weight: 500;
        font-size: 16px;
        color: #FFFFFF;
        background: #044076;
        border-radius: 10px;
        padding: 10px;
        cursor: pointer;
        transition: .4s;
        &:hover{
          background: transparent;
          color: black;
          transform: scale(1.1);
        }
      }
    }
  }
}