@media (max-width: 1140px) {
  .container{
    width: 90%;
  }
  #comment .comment--every__saydBar{
    width: 300px;
  }
  #comment .vyhod {
    margin: -152px 0px 0px 49px !important;
    padding: 30px 52px !important;
    h3{
      width: 195px !important;
    }
  }
  #comment .comment--every__status--card{
    width: 548px;
  }

}

@media (max-width: 1024px) {
  #comment .comment--every__status--card{
    width: 518px;
  }
}
@media (max-width: 992px) {
  #comment .comment--every{
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }
  #comment .vyhod {
    margin: -458px 0px 0px 233px !important;
    padding: 30px 51px !important;
  }
  #comment .file{
    margin: 163px 0 0 275px !important;
  }
}
@media (max-width: 768px) {
  #comment .vyhod {
    margin: -449px 0px 0px 171px !important;
    padding: 30px 52px !important;
  }
  #comment .file {
    margin: 163px 0 0 185px !important;
  }
  #comment .comment--every__status--card{
    width: 460px;
  }
  #comment .comment--every__status--card h2{
    font-size: 15px;
  }
  #comment .comment--every__one h1{
    font-size: 30px;
  }
}
@media (max-width: 644px) {
  #comment .vyhod {
    margin: -449px 0px 0px 119px !important;
  }
  #comment .file {
    margin: 163px 0 0 141px !important;
  }
}
@media (max-width: 540px) {
  #comment .comment--every__status--card{
    width: 400px;
  }
  #comment .file {
    margin: 163px 0 0 110px !important;
  }
  #comment .vyhod {
    margin: -449px 0px 0px 89px !important;
  }
}
@media (max-width: 480px) {
  #comment .comment--every__status--card{
    width: 270px;
  }
  #comment .file {
    margin: 163px 0 0 75px !important;
  }
  #comment .comment--every__status--card h2{
    font-size: 12px;
  }
  #comment .comment--every__status--card h4{
    font-size: 12px;
  }
  #comment .comment--every__one h1{
    font-size: 25px;
  }
  #comment .vyhod {
    margin: -444px 0px 0px 8px !important;
  }
  #comment .comment--every__right{
    padding: 0;
  }
}
@media (max-width: 320px) {

}