@media (max-width: 1140px) {
  .container{
    width: 90%;
  }
  #karty .karty--saydBar{
    width: 300px !important;
  }
  #karty .karty--visul__visa{
    flex-direction: column;
    gap: 40px;
  }

  #karty .karty--visul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 67%;
  }

}

@media (max-width: 1024px) {
  #karty .karty--saydBar{
    height: 510px;
    padding-top: 30px;
  }
  #karty .karty--visul{

    width: 66%;
  }
  #karty .karty--visul__visa{
    flex-direction: column;
  }
  #karty .karty--visul__visa--block{
    margin: 10px 30px;
  }

}
@media (max-width: 992px) {



  #karty{
    .karty{
      justify-content: center;
      flex-wrap:wrap ;
      &--visul{
        padding-top: 30px;
        &__visa{
          &--block{
            width: 280px;
          }
        }
      }
    }
  }
  #karty .karty--visul{
    display: flex;
    align-items: center;
    flex-direction: column;

  }
  #karty .karty{
    gap: 40px;
  }
  #karty .karty--saydBar{
    display: flex;
    align-items: center;
    justify-content: normal;
    flex-direction: column;

  }
  #karty .karty--saydBar__link{
    gap: 25px;
  }

}
@media (max-width: 768px) {
  #karty{
    .karty{
      &--visul{
        &__visa{
          display: flex;
          &--block{
            width: 280px;
            margin: 10px;
          }
        }
      }
    }
  }
  #karty .karty--visul__mouse h1{
    font-size: 30px;
  }
  #karty .karty--visul__add--text p{
    font-size: 14px;
  }
  #karty .karty--visul__add--text__for p {
    font-size: 12px !important;
  }
  #karty .karty--visul__add{
    height: 303px;
    width: 99% !important;
  }

    #karty .karty--visul__visa{
    margin-left: 0;

  }
  #karty .karty--visul__mouse h1{
    margin-left: 0;
  }
  #karty .karty--visul__add--text__for p{
    font-size: 15px;
  }
  #karty .karty--visul__add--text h1{
    font-size: 34px;
  }
}
@media (max-width: 560px) {
  #karty{
    .karty{
      &--visul{
        &__visa{
          display: flex;
          flex-wrap:wrap;
          &--block{

          }
        }
        &__add{
          margin: 15% 7px;
        }
      }
    }
  }

  #karty .karty--visul__mouse h1{
    font-size: 30px;
    width: 280px;
  }
  #karty .karty--visul__visa--block{
    padding: 15px 15px;
  }
  #karty .karty--visul__visa--block p{
    font-size: 21px;
  }
  #karty .karty--visul__visa--block__img{
    width: 43px;
  }
  #karty .karty--visul__add--text__for p{
    font-size: 13px;
  }
  #karty .karty--visul__add{
    height: 314px;
    width: 135% !important;
  }
}
@media (max-width: 400px) {
  #karty{
    .karty{
      &--visul{
        &__visa{
          display: flex;
          flex-wrap:wrap;
          &--block{
            width: 241px;
            height: 225px;
          }
        }
        &__add{
          margin: 15% 7px;
          &--text{
            h1{
              font-size: 32px;
            }
            &__for{
              p{
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }

  #karty .karty--visul__mouse h1{
    font-size: 25px;
  }
  #karty .karty--visul__visa--block{
    width: 227px;
  }
  #karty .karty--visul__mouse h1{
    width: 232px;
  }
  #karty .karty--visul__add--text h1{
    font-size: 27px;
  }
  #karty .karty--visul__add--text p{
    font-size: 9px !important;
  }
  #karty .karty--visul__add--text__for button{
    font-size: 11px;
  }
  #karty .karty--visul__add{
    height: 267px;

  }

  #karty .karty--saydBar{
    height: 480px;
    width: 300px !important;
  }
  #karty .karty{
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }
}
@media (max-width: 320px) {
  #footer{
    padding: 0 0;
  }
  #karty .karty--saydBar{
    width: 300px !important;
  }
}



@media (max-width: 640px) {

}
@media (max-width: 540px) {

}
@media (max-width: 480px) {

}