@media (max-width: 1140px) {
  .container{
    width: 90%;
  }

}
@media (max-width: 1024px) {
  #karty .karty--saydBar{
    width: 350px;
    height: 480px;
  }
  #karty .vyhod{
    left: 5% !important;
    top: 86% !important;
    padding: 30px 50px !important;
  }

  #karty .karty--visul__visa{
    flex-direction: column;
  }
  #karty .karty--visul__visa--block{
    margin: 10px 30px;
  }

}

@media (max-width: 992px) {
  #karty .vyhod {
    left: 23% !important;
    padding: 30px 76px !important;
  }
  #karty{
    .karty{
      flex-wrap:wrap ;
      &--visul{
        padding-top: 30px;
        &__visa{
          &--block{
            width: 280px;
          }
        }
      }
    }
  }
  #karty .karty--visul{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
#karty .karty--saydBar{
  margin-left: 20%;
}
}
@media (max-width: 768px) {
  #karty{
    .karty{
      &--visul{
        &__visa{
          display: flex;
          &--block{
            width: 280px;
            margin: 10px;
          }
        }
      }
    }
  }
}
@media (max-width: 560px) {
  #karty{
    .karty{
      &--visul{
        &__visa{
          display: flex;
          flex-wrap:wrap;
          &--block{

          }
        }
        &__add{
          margin: 15% 7px;
        }
      }
    }
  }
}
@media (max-width: 400px) {
  #karty{
    .karty{
      &--visul{
        &__visa{
          display: flex;
          flex-wrap:wrap;
          &--block{
            width: 241px;
            height: 225px;
          }
        }
        &__add{
          margin: 15% 7px;
          &--text{
            h1{
              font-size: 32px;
            }
            &__for{
              p{
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 320px) {

}