@media (max-width: 1140px) {
  .container{
    width: 90%;
  }
  #Article .article--blocks {
    justify-content: center !important;
    gap: 115px !important;
  }
  #Home .home--image__tool4 {
    left: 412px !important;;
  }
  #Accor .accor--photo h1 {
    font-size: 42px !important;
  }
  #Application .application--left h1 {
    font-size: 34px !important;
  }
  #Application .application--right__inputs input {
    width: 550px !important;
  }
  #Home{
    .home{
      &--text{
        h1{
          width: 425px !important;
        }
      }
    }
  }
}
@media (max-width: 1024px) {
  #Home{
    .home{
      display: flex;
      flex-direction: column;
      align-items: center;
      &--text{
        h1{
          width: 460px !important;
        }
      }
    }
  }
  #Home .home--text{
    margin: 0 0 80px 0 ;
  }
  #Application .application--right__inputs input{
    width: 430px !important;
  }
  #Accor .accor--all__item{
    width: 645px !important;
  }
  #Accor .accor--photo h1{
    font-size: 40px!important;
  }
}
@media (max-width: 992px) {
  #Article .article--blocks {
    gap: 50px !important;
  }
  #Accor .accor{
    flex-direction: column;
    align-items: center !important;
  }
  #Accor .accor--photo h1 {
    font-size: 35px !important;
  }
  #Accor .accor--photo {
    margin: 0 0 60px 0 !important;
  }
  #Application .application--left h1 {
    font-size: 30px !important;
  }
  #Article .article--text h1 {
    padding: 70px 0 50px 0 !important;
    font-size: 30px !important;
  }
  #Home .home--text h1 {
    width: 463px !important;
  }
  #Home .home--text h1{
    font-size: 30px !important;
  }
  #Home .home--text {
    text-align: center !important;
  }
  #Home .home--text p {
    width: 460px !important;
    font-size: 18px;
  }
  #Home .home--image__tool{
    width: 150px !important;
    top: 74% !important;
  }
  #Article .article--follow__left h2 {
    font-size: 25px !important;
  }
  #Article .article--follow__left p {
    font-size: 15px !important;
  }
  #Accor .accor{
    flex-direction: column;
    align-items: center;
  }
  #Application .application{
    flex-direction: column;
  }
}
@media (max-width: 820px) {
  #Article .article--blocks{
    justify-content: center !important;
  }
  #Application .application{
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  #Article .article--btn button {
    font-size: 16px !important;
  }
  #Article .article--follow__left p {
    width: 376px !important;
  }
  Article .article--follow__right--first {
    font-size: 15px !important;
  }
  #Article .article--follow__right--second {
    font-size: 15px !important;
  }
  #Accor .accor--all__item--cold__title h2 {
    font-size: 17px !important;
  }
  #Article{
    .article{
      &--follow{
        flex-direction: column;
      }
    }
  }
  #Accor .accor--all__item{
    width: 470px !important;
  }
}
@media (max-width: 640px) {
  #Home .home--text h1 {
    font-size: 26px !important;
  }
  #Home .home--text p {
    font-size: 16px !important;
  }
  #Article .article--text h1 {
    font-size: 26px !important;
    padding: 20px 0 50px 0 !important;
  }
  #Article .article--follow__left h2 {
    font-size: 20px !important;
  }
  #Article .article--follow {
    padding: 40px 50px !important;
  }
  #Accor .accor--photo h1 {
    font-size: 30px !important;
  }
  #Accor .accor--photo img{
    width: 140px;
  }
  #Application .application--left h1 {
    font-size: 26px !important;
  }
  #Application .application {
    align-items: center !important;
  }
  #Application .application--left{
    text-align: center;
  }
  #Accor .accor--all__item--cold__title h2 {
    font-size: 15px !important;
  }
  #Home{
    .home{
      &--image{
        width: 620px;
      }
    }
  }
  #Accor .accor--all__item{
    width: 470px !important;
  }
  #Article{
    .article{
      &--follow{
        flex-direction: column;
      }
    }
  }
  #Home .home--text h1{
    text-align: center !important;
  }
  #Home .home--text p{
    text-align: center !important;
  }
  #Home{
    .home{
      &--image{
        img{
          width: 100% !important;
        }
        width: 505px;
        &__tool3{
          display: none;
        }
        &__tool2{
          display: none;
        }
        &__tool4{
          display: none;
        }
        &__tool{
          display: none;
        }
      }
    }}
}
@media (max-width: 540px) {
  #Home .home--image {
    width: 480px !important;
  }
  #Accor .accor--all__item {
    width: 450px !important;
  }
  #Home .home--text h1{
    text-align: center !important;
  }
  #Home .home--text p{
    text-align: center !important;
  }
  #Home{
    .home{
      &--image{
        img{
          width: 100% !important;
        }
        width: 505px;
        &__tool3{
          display: none;
        }
        &__tool2{
          display: none;
        }
        &__tool4{
          display: none;
        }
        &__tool{
          display: none;
        }
      }
    }
  }
  #Article{
    .article{
      &--follow{
        &__left{
          h2{
            //padding: 10px 40px;
          }
          p{
            width: 360px !important;
            line-height: 26;
          }
        }
      }
    }
  }
}
@media (max-width: 480px) {
  #Home .home--text p {
    width: 267px !important;
  }
  #Accor .accor--all__item{
    width: 430px !important;
  }
  #Home .home--text {
    margin: -50px 0 80px 0 !important;
  }
  #Home .home--text p {
    font-size: 15px !important;
  }
  #Article .article--text h1 {
    font-size: 20px !important;
  }
  #Article .article--blocks__block {
    width: 300px !important;
  }
  #Article .read{
    width: 300px;
  }
  #Accor .accor--all__item--cold {
    padding: 0 !important;
  }
  #Accor .accor--all__item {
    width: 240px !important;
  }
  #Article .article--blocks__block--one {
    width: 280px !important;
  }
  #Home .home--image {
    width: 310px !important;
  }
  #Accor .accor--all__item--cold__title span svg {
    font-size: 22px !important;
  }
  #Article .article--blocks__block h1 {
    font-size: 14px !important;
  }
  #Article .article--btn button {
    font-size: 14px !important;
  }
  #Home .home--text h1{
    width: 268px !important;
    font-size: 17px !important;
  }
  #Article .article--blocks__block{
    .read{
      //width: 280px !important;
    }
  }
  #Article .article--blocks__block h1{
    width: 260px !important;
  }
  #Accor .accor--all__item--cold__title{
    font-size: 12px !important;
    width: 245px !important;
  }
  #Application .application--right__inputs input{
    width: 245px !important;
  }
  #Application .application--left p{
    width: 260px !important;
  }
  #Accor .accor--all__item--cold{
    width: 235px !important;
  }
  #Article .article--follow__left p{
    width: 240px !important;
  }
  #Article .article--follow__right--first {
    font-size: 14px !important;
  }
  #Article .article--follow__right--second {
    font-size: 14px !important;
  }
  #Accor .accor--photo h1 {
    font-size: 24px !important;
  }
  #Accor .accor--photo img {
    width: 120px;
  }
  #Application .application--left h1 {
    font-size: 20px !important;
  }
  #Application .application--left p {
    font-size: 14px !important;
  }
  #Application .application--right__inputs h2 {
    font-size: 12px !important;
  }
  #Application .application--right button {
    font-size: 14px !important;
  }

}
@media (max-width: 320px) {

  #Accor .accor--all__item{
    width: 200px !important;
  }
  #Home .home--text h1{
    width: 268px !important;
    font-size: 20px !important;
  }
  #Article .article--blocks__block{
    .read{
      //width: 280px !important;
    }
  }
  #Article .article--blocks__block h1{
    width: 260px !important;
  }
  #Accor .accor--all__item--cold__title{
    font-size: 12px !important;
    width: 245px !important;
  }
  #Application .application--right__inputs input{
    width: 245px !important;
  }
  #Application .application--left p{
    width: 260px !important;
  }
  #Accor .accor--all__item--cold{
    width: 235px !important;
  }
  #Article .article--follow__left p{
    width: 209px !important;
  }
}