*{
    margin:0;
    padding:0;
    text-decoration: none;
}
container{
    width: 1140px;
    margin: 0 auto;
}
#profile {
    background: rgb(10, 17, 40);
    height: 100vh;
}
.profile{

}
.wrapper{
    display: flex;
    justify-content: space-between;
}
h3 {
    font-weight: 400;
    font-size: 16px;
    color: #a5a5a5;
    padding: 60px 0;
}

img {
    width: 92px;
    height: 92px;
}

.profile__saydBar{
    padding-top: 30px;
    width: 350px;
    height: 527px;
    background: #ffffff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.profile__saydBar--btn{
    color: #ffffff;
    background: #0272ce;
    border-radius: 10px;
    padding: 10px 22px;
    width: 170px;
    margin: 25px 0;
}

.link{
    display: flex;
    text-align: center;
    font-size: 16px;
    color: #000000;
    gap: 20px;
    padding: 10px;
    border-bottom: 0.5px solid #9a9a9a;
}
.active{
    color: #0272CE;
}


